/* https://github.com/NeverCease/uchu/blob/primary/css/color_expanded.css */

/*** gray ***/
$gray-1-raw: 95.57% 0.003 286.35;
$gray-1: oklch($gray-1-raw);
$gray-2-raw: 92.04% 0.002 197.12;
$gray-2: oklch($gray-2-raw);
$gray-3-raw: 88.28% 0.003 286.34;
$gray-3: oklch($gray-3-raw);
$gray-4-raw: 84.68% 0.002 197.12;
$gray-4: oklch($gray-4-raw);
$gray-5-raw: 80.73% 0.002 247.84;
$gray-5: oklch($gray-5-raw);
$gray-6-raw: 75.03% 0.002 247.85;
$gray-6: oklch($gray-6-raw);
$gray-7-raw: 69.01% 0.003 286.32;
$gray-7: oklch($gray-7-raw);
$gray-8-raw: 63.12% 0.004 219.55;
$gray-8: oklch($gray-8-raw);
$gray-9-raw: 56.82% 0.004 247.89;
$gray-9: oklch($gray-9-raw);

/*** red ***/
$red-1-raw: 88.98% 0.052 3.28;
$red-1: oklch($red-1-raw);
$red-2-raw: 78.78% 0.109 4.54;
$red-2: oklch($red-2-raw);
$red-3-raw: 69.86% 0.162 7.82;
$red-3: oklch($red-3-raw);
$red-4-raw: 62.73% 0.209 12.37;
$red-4: oklch($red-4-raw);
$red-5-raw: 58.63% 0.231 19.6;
$red-5: oklch($red-5-raw);
$red-6-raw: 54.41% 0.214 19.06;
$red-6: oklch($red-6-raw);
$red-7-raw: 49.95% 0.195 18.34;
$red-7: oklch($red-7-raw);
$red-8-raw: 45.8% 0.177 17.7;
$red-8: oklch($red-8-raw);
$red-9-raw: 41.17% 0.157 16.58;
$red-9: oklch($red-9-raw);

/*** pink ***/
$pink-1-raw: 95.8% 0.023 354.27;
$pink-1: oklch($pink-1-raw);
$pink-2-raw: 92.14% 0.046 352.31;
$pink-2: oklch($pink-2-raw);
$pink-3-raw: 88.9% 0.066 354.39;
$pink-3: oklch($pink-3-raw);
$pink-4-raw: 85.43% 0.09 354.1;
$pink-4: oklch($pink-4-raw);
$pink-5-raw: 82.23% 0.112 355.33;
$pink-5: oklch($pink-5-raw);
$pink-6-raw: 76.37% 0.101 355.37;
$pink-6: oklch($pink-6-raw);
$pink-7-raw: 70.23% 0.092 354.96;
$pink-7: oklch($pink-7-raw);
$pink-8-raw: 64.11% 0.084 353.91;
$pink-8: oklch($pink-8-raw);
$pink-9-raw: 57.68% 0.074 353.14;
$pink-9: oklch($pink-9-raw);

/*** purple ***/
$purple-1-raw: 89.1% 0.046 305.24;
$purple-1: oklch($purple-1-raw);
$purple-2-raw: 78.68% 0.091 305;
$purple-2: oklch($purple-2-raw);
$purple-3-raw: 68.5% 0.136 303.78;
$purple-3: oklch($purple-3-raw);
$purple-4-raw: 58.47% 0.181 302.06;
$purple-4: oklch($purple-4-raw);
$purple-5-raw: 49.39% 0.215 298.31;
$purple-5: oklch($purple-5-raw);
$purple-6-raw: 46.11% 0.198 298.4;
$purple-6: oklch($purple-6-raw);
$purple-7-raw: 42.77% 0.181 298.49;
$purple-7: oklch($purple-7-raw);
$purple-8-raw: 39.46% 0.164 298.29;
$purple-8: oklch($purple-8-raw);
$purple-9-raw: 36.01% 0.145 298.35;
$purple-9: oklch($purple-9-raw);

/*** blue ***/
$blue-1-raw: 89.66% 0.046 260.67;
$blue-1: oklch($blue-1-raw);
$blue-2-raw: 80.17% 0.091 258.88;
$blue-2: oklch($blue-2-raw);
$blue-3-raw: 70.94% 0.136 258.06;
$blue-3: oklch($blue-3-raw);
$blue-4-raw: 62.39% 0.181 258.33;
$blue-4: oklch($blue-4-raw);
$blue-5-raw: 54.87% 0.222 260.33;
$blue-5: oklch($blue-5-raw);
$blue-6-raw: 51.15% 0.204 260.17;
$blue-6: oklch($blue-6-raw);
$blue-7-raw: 47.36% 0.185 259.89;
$blue-7: oklch($blue-7-raw);
$blue-8-raw: 43.48% 0.17 260.2;
$blue-8: oklch($blue-8-raw);
$blue-9-raw: 39.53% 0.15 259.87;
$blue-9: oklch($blue-9-raw);

/*** green ***/
$green-1-raw: 93.96% 0.05 148.74;
$green-1: oklch($green-1-raw);
$green-2-raw: 88.77% 0.096 147.71;
$green-2: oklch($green-2-raw);
$green-3-raw: 83.74% 0.139 146.57;
$green-3: oklch($green-3-raw);
$green-4-raw: 79.33% 0.179 145.62;
$green-4: oklch($green-4-raw);
$green-5-raw: 75.23% 0.209 144.64;
$green-5: oklch($green-5-raw);
$green-6-raw: 70.03% 0.194 144.71;
$green-6: oklch($green-6-raw);
$green-7-raw: 64.24% 0.175 144.92;
$green-7: oklch($green-7-raw);
$green-8-raw: 58.83% 0.158 145.05;
$green-8: oklch($green-8-raw);
$green-9-raw: 52.77% 0.138 145.41;
$green-9: oklch($green-9-raw);

/*** yellow ***/
$yellow-1-raw: 97.05% 0.039 91.2;
$yellow-1: oklch($yellow-1-raw);
$yellow-2-raw: 95% 0.07 92.39;
$yellow-2: oklch($yellow-2-raw);
$yellow-3-raw: 92.76% 0.098 92.58;
$yellow-3: oklch($yellow-3-raw);
$yellow-4-raw: 90.92% 0.125 92.56;
$yellow-4: oklch($yellow-4-raw);
$yellow-5-raw: 89% 0.146 91.5;
$yellow-5: oklch($yellow-5-raw);
$yellow-6-raw: 82.39% 0.133 91.5;
$yellow-6: oklch($yellow-6-raw);
$yellow-7-raw: 75.84% 0.122 92.21;
$yellow-7: oklch($yellow-7-raw);
$yellow-8-raw: 69.14% 0.109 91.04;
$yellow-8: oklch($yellow-8-raw);
$yellow-9-raw: 62.29% 0.097 91.9;
$yellow-9: oklch($yellow-9-raw);

/*** orange ***/
$orange-1-raw: 93.83% 0.037 56.93;
$orange-1: oklch($orange-1-raw);
$orange-2-raw: 88.37% 0.07258208750520016 55.80328658240742;
$orange-2: oklch($orange-2-raw);
$orange-3-raw: 83.56% 0.10753627570574478 56.492594564236946;
$orange-3: oklch($orange-3-raw);
$orange-4-raw: 78.75% 0.14163582809066333 54.32911089172009;
$orange-4: oklch($orange-4-raw);
$orange-5-raw: 74.61% 0.171 51.56;
$orange-5: oklch($orange-5-raw);
$orange-6-raw: 69.33% 0.157 52.18;
$orange-6: oklch($orange-6-raw);
$orange-7-raw: 63.8% 0.142 52.1;
$orange-7: oklch($orange-7-raw);
$orange-8-raw: 58.28% 0.128 52.2;
$orange-8: oklch($orange-8-raw);
$orange-9-raw: 52.49% 0.113 51.98;
$orange-9: oklch($orange-9-raw);

/*** general ***/
$yin-1-raw: 91.87% 0.003 264.54;
$yin-1: oklch($yin-1-raw);
$yin-2-raw: 84.61% 0.004 286.31;
$yin-2: oklch($yin-2-raw);
$yin-3-raw: 76.89% 0.004 247.87;
$yin-3: oklch($yin-3-raw);
$yin-4-raw: 69.17% 0.004 247.88;
$yin-4: oklch($yin-4-raw);
$yin-5-raw: 61.01% 0.005 271.34;
$yin-5: oklch($yin-5-raw);
$yin-6-raw: 52.79% 0.005 271.32;
$yin-6: oklch($yin-6-raw);
$yin-7-raw: 43.87% 0.005 271.3;
$yin-7: oklch($yin-7-raw);
$yin-8-raw: 35.02% 0.005 236.66;
$yin-8: oklch($yin-8-raw);
$yin-9-raw: 25.11% 0.006 258.36;
$yin-9: oklch($yin-9-raw);
$yin-raw: 14.38% 0.007 256.88;
$yin: oklch($yin-raw);
$yang-raw: 99.4% 0 0;
$yang: oklch($yang-raw);
